<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tumblr.dateapp.iloveyou"
    android:versionCode="9"
    android:versionName="1.0.9">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- IMAGE ATTACH -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- SOUND -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >


        <provider
            android:name="com.tumblr.dateapp.iloveyou.utils.GenericFileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity android:name="com.tumblr.dateapp.iloveyou.Splashscreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.tumblr.dateapp.iloveyou.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tumblr.dateapp.iloveyou.activities.ProfileActivity"
            android:label="@string/title_activity_profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tumblr.dateapp.iloveyou.MainActivity" />
        </activity>
        <activity
            android:name="com.tumblr.dateapp.iloveyou.activities.OnlineActivity"
            android:label="@string/title_activity_online"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.tumblr.dateapp.iloveyou.activities.ChatActivity"
            android:label="@string/title_activity_chat" />
        <service
            android:name="com.tumblr.dateapp.iloveyou.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDlcMK_RtTmUMZ4ZrURwgFtiL5K8un0bMQ" />
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications_black_24dp" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />




    </application>

</manifest>